#export ANT_OPTS="-Xms1g -Xmx1g -XX:MaxPermSize=512m"

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/lib
export KUDA_HOME=/home/yuanfeng/repos/kuda
export CUDAHOME=${HOME}/Research/cudasdk
export PINHOME=/home/yuanfeng/pin-2.14-71313-gcc.4.4.7-linux
export COMPUTE_PROFILE=1

#macbook
#export JAVA_HOME=/Library/Java/Home
#export JNIDIR=/System/Library/Frameworks/JavaVM.framework/Versions/Current/Headers
#export PARSECARCH=i686-linux.gcc-pthreads

#msrc
export JAVA_HOME=/usr/java/jdk1.6.0_31
export JNIDIR=${JAVA_HOME}/include
export PARSECARCH=amd64-linux.gcc-pthreads

export PARSECHOME=/parsec-2.1
export PARSECAPPS=$PARSECHOME/pkgs/apps
export PARSECKERNELS=$PARSECHOME/pkgs/kernels

export SPLASHHOME=${HOME}/Research/splash2
export SPLASHAPPS=$SPLASHHOME/codes/apps
export SPLASHKERNELS=$SPLASHHOME/codes/kernels
